.removeBtn {
  width: 41px;
  height: 41px;
  margin-right: 1em;
  border: 1px solid #adb5bd;
  border-radius: 0.4em;
  outline: none;
  background-color: transparent;
  background-size: 70% 70%;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/src/icons/x-lg-grey.svg);
  transition: border-color 0.1s ease-in-out, background-image 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.removeBtn:hover {
  border-color: var(--red);
  background-image: url(/src/icons/x-lg-red.svg);
  background-color: var(--red-bg);
  cursor: pointer;
}

@media (min-width: 1000px) {
  .removeBtn {
    width: 20px;
    height: 20px;
  }
}