.item {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid var(--gray);
}
.item:hover {
  cursor: pointer;
}

.green {
  background-color: var(--green);
}
.pink {
  background-color: var(--pink);
}
.blue {
  background-color: var(--blue);
}
.gray {
  background-color: var(--gray);
}