.form {
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
}