.cell {
  text-align: center;
}

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  max-width: 100%;
  max-height: 100%;
  padding: 20px; 
  padding-top: 0;
  background-color: #fff;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.table {
  width: 100%;
  margin-top: 15px;
  font-size: 2.5rem;
}

.headCell {
  color: #86848F;
  font-weight: 300;
}

.cell {
  padding: 10px 0;
  color: #3B3D49;
}

@media (min-width: 500px) {
  .wrapper {
    padding: 65px 30px; 
    padding-top: 0;
  }

  .table {
    width: 100%;
    margin-top: 15px;
    font-size: 3rem;
  }

  .cell {
    padding: 10px 5px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    position: relative;
    border-radius: 13px;
    width: 600px;
    padding: 20px; 
    background-color: #fff;
  }

  .header {
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
  }
}