.form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 5px 10px;
  font-size: 2.5rem;
  border: 1px solid var(--light-gray);
  color: var(--text-color);
  outline: none;
}
.input:focus {
  background-color: #F2F3F7;
}

@media (min-width: 1000px) {
  .input {
    font-size: 2rem;
  }
}