.btn {
  margin: 15px 0;
  width: 100%;
  padding: 22px;
  background-color: var(--green);
  font-size: 30px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 17px;
  transition: background-color 0.2s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  background-color: #586f5f;
}