.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.checkbox.square+label::before {
  border-radius: 5px;
}
.checkbox.circle+label::before {
  border-radius: 50%;
  margin-right: 5px;
}

.checkbox:checked+label::before {
  border-color: var(--light-gray);
  background-color: var(--dark-gray);
}
.checkbox:checked.green+label::before {
  border-color: var(--green);
  background-color: var(--green);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:checked+label:hover {
  cursor: pointer;
}

/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked)+label:hover::before {
  cursor: pointer;
  background-color: var(--light-gray);
  border-color: var(--dark-gray);
}
.checkbox:not(:disabled):not(:checked).green+label:hover::before {
  cursor: pointer;
  background-color: #c6d2ca;
  border-color: #46815a;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled).green:active+label::before {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
}
.checkbox:not(:disabled).green:active+label::before {
  background-color: #46815a;
  border-color: #46815a;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked)+label::before {
  border-color: var(--gray);
}
.checkbox:focus:not(:checked).green+label::before {
  border-color: #46815a;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled+label::before {
  background-color: #e9ecef;
}