:root {
  --green: #718e7a;
  --light-green: #c6d2ca;
  --yellow: #FFC700;
  --light-yellow: #f3e2a5;
  --gray: #919191;
  --dark-gray: #737373;
  --light-gray: #c4c2c9;
  --extralight-gray: #e5e4e7;
  --text-color: #3b3d49;
  --red: #b30000;
  --red-bg: rgba(179, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #F2F3F7;
}

.disabled-btn {
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}